@charset "utf-8";
/* CSS Document */

/* Press Start 2 */
@font-face {
    font-family: 'Press Start 2P';
    src: url("assets/type/PressStart2P-Regular.ttf");
}


@font-face {
    font-family: 'Marker';
    src: url('assets/type/PermanentMarker-Regular.ttf');
}


/* Text */
h1.display-1 {
	font-family: 'Permanent Marker', sans-serif;
}

h2 {
	font-family: 'Marker', sans-serif;
}

