@charset "utf-8";
/* CSS Document */
/* Press Start 2 */
@font-face {
    font-family: 'PressStart';
    src:  url('../type/PressStart2P-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Marker';
    src:  url('../type/PermanentMarker-Regular.ttf') format('ttf');
}

/* Text */
h5 {
	font-family: 'PressStart', sans-serif;
}

h1,h2 {
	font-family: 'Marker', sans-serif;
}

